
:root {
  /* colours */
  --position-select-colour:   rgb(236, 251, 232);
  --value-select-colour:      rgb(191, 245, 196);
  --pre-given-value:          rgb(0, 0, 0);
  --user-submitted-value:     rgb(6, 144, 74);
  --selection-pulse-dark:     rgb(0, 197, 153);
  --selection-pulse-light:    rgb(43, 228, 179);
  --grid-dark-grey:           rgb(203, 203, 203);
  --grid-light-grey:          rgb(236, 236, 236);
  --grid-background:          rgb(248, 248, 248); 

  --button-bg: #dcdcdc;
  --button-selected: #8f8f8f;
  --button-text: var(--button-selected);
}

.sudoku-game-root {
  width: 95vw;
  height: calc(95vh - 4rem);
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
}

.sudoku-player {
  height: 100vh;
  display: flex;
  align-items: stretch;
  justify-content: center;
  flex-direction: column;
  container-type: size;
  gap: 2rem;
  @media (orientation: landscape) {
    height: 62vh;
    flex-direction: row;
    align-items: stretch;
    justify-content: center;
  }

  .sudoku-stretch {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    @media (orientation: landscape) {
      width: 62vh;
    }
  }
}

.board {
  width: 100%;
  aspect-ratio: 1;
  max-width: 62vh;
  @media (orientation: landscape) {
      // height: 62vh;
  }

  gap: 1px;
  outline: 1px solid black;
  @container(min-width: 60px) {
    outline: 2px solid black;
  }
  @container(min-width: 120px) {
    gap: 2px;
    outline: 3px solid black;
  }
  @container(min-width: 240px) {
    gap: 3px;
    outline: 4px solid black;
  }
  background-color: black;
}

.controls {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: end;
  container-type: size;
  gap: 0.5rem;
  @media (orientation: landscape) {
    justify-content: start;
    max-width: 240px;
  }

  div {
    margin: 0 auto;
  }

  .note-mode-switcher {
    width: 80%;
  }
  
  .numpad {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    width: min(100cqh, 100cqw);
    gap: 2px;

    
    button {
      aspect-ratio: 1;
      margin: auto;
      background-color: var(--button-bg);
      color: var(--button-text);
      border: none;
      border-radius: 10%;
      font-size: 2em;
      width: 100%;
      
      &:active {
        background-color: var(--button-selected);
        color: white;
      }

      &.action-button {
        &.disabled {
          background-color: var(--grid-light-grey);
          color: var(--grid-dark-grey);
        }
      }

      &.number-button {
        > span {
          user-select: none;
        }
        
        &.candidate {
          display: grid;
          grid-template-columns: repeat(3, 1fr);
          grid-template-rows: repeat(3, 1fr);
          align-items: center;
          font-size: 0.9em;
          padding: 10%;
          gap: 0;
          
          > span {
            color: black;
          }

          &.selected {
            background-color: var(--button-selected);
            > span {
              color: white;
            }
          }
        }

        &[data-number="1"].candidate > span {
          grid-column-start: 1;
          grid-row-start: 1;
        }

        &[data-number="2"].candidate > span {
          grid-column-start: 2;
          grid-row-start: 1;
        }

        &[data-number="3"].candidate > span {
          grid-column-start: 3;
          grid-row-start: 1;
        }

        &[data-number="4"].candidate > span {
          grid-column-start: 1;
          grid-row-start: 2;
        }
        
        &[data-number="5"].candidate > span {
          grid-column-start: 2;
          grid-row-start: 2;
        }

        &[data-number="6"].candidate > span {
          grid-column-start: 3;
          grid-row-start: 2;
        }

        &[data-number="7"].candidate > span {
          grid-column-start: 1;
          grid-row-start: 3;
        }

        &[data-number="8"].candidate > span {
          grid-column-start: 2;
          grid-row-start: 3;
        }

        &[data-number="9"].candidate > span {
          grid-column-start: 3;
          grid-row-start: 3;
        }
      }
    }
  }

}


.box {
  height: 100%;
  width: 100%;
  gap: 1px;
  @container(min-width: 120px) {
    gap: 2px;
  }
  background-color: var(--grid-light-grey);
  container-type: size;
}

.three-by-three {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  grid-template-rows: repeat(3, minmax(0, 1fr));
  justify-items: center;
  align-items: center;
}

.cell {
  background-color: var(--grid-background);
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative;
  container-type: size;
}

.cell .number {
  width: 100%;
  height: 100%;
  align-content: center;
  font-size: 66cqw;
}

.candidates .number {
  font-size: 25cqw;
  color: black;
}

.cell.user-submitted > .number {
  color: var(--user-submitted-value);
}

.cell.pre-given > .number {
  color: var(--pre-given-value);
}

.cell.position-highlighted {
  background-color: var(--position-select-colour)
}

.cell.value-highlighted {
  background-color: var(--value-select-colour);
}

.cell.selected {
  outline: 4px solid var(--grid-background);
  background: var(--grid-background);
  z-index: 1;
}


.cell .selection-square {
  position: absolute;
  width: 100%;
  height: 100%;
  outline: 3px solid;
  animation-name: selection-square-pulse;
  animation-duration: 0.75s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-direction: alternate-reverse;
  z-index: 2;
}

@keyframes selection-square-pulse {
  to {
    outline-color: var(--selection-pulse-dark);
  }
  from {
    outline-color: var(--selection-pulse-light);
  }
}

.candidates {
  width: 100%;
  height: 100%;
}

