@use './App.scss' as *;

.sudoku-card {
  margin: 1%;
  border-radius: 1em;
  background-color: map-get($colours, pale-green1);
  border: map-get($colours, black) 1px solid;
  &:hover {
    background-color: map-get($colours, pale-green0);
  }

  p {
    font-size: 1em;
    text-align: center;
    color: map-get($colours, black);
  }
};