.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-content: center;
  /* align-items: flex-start; */
  justify-content: center;
  width: 100%;
  height: 100%;
}

* {
  box-sizing: border-box;
}
html, body, #root {
  width: 100%;
  height: 100%;
}
/* 
@media all and (orientation: landscape) {
  .sudoku {
    grid-template-rows: 60vh auto;
  }
}

@media all and (orientation: portrait) {
  .sudoku {
    grid-template-rows: 100vw auto;
  }
} */

.sudoku-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.sudoku {
  --board-dim: 100vw;
  /* height: calc(100vw * (1
  aligalign-items: ;flex-start *//* 
  aligalign-items: ;flex-start/6.2)); */
}

@media (min-aspect-ratio: 3/4) {
  .sudoku {
    --board-dim: 62vh;
    height: 100%;
  }
}

.sudoku {
  /* position: fixed; */
  width: 100%;
  /* height: 100%; */
  display: grid;
  align-items: center;
  justify-content: center;
  justify-items: center;
  grid-template-rows: var(--board-dim) auto;
  grid-template-columns: var(--board-dim);
  /* padding-top: 10px; */
  padding: 10px 0 10px 0;

  /* colours */
  --position-select-colour:   rgb(236, 251, 232);
  --value-select-colour:      rgb(191, 245, 196);
  --pre-given-value:          rgb(0, 0, 0);
  --user-submitted-value:     rgb(6, 144, 74);
  --selection-pulse-dark:     rgb(0, 197, 153);
  --selection-pulse-light:    rgb(43, 228, 179);
  --grid-dark-grey:           rgb(203, 203, 203);
  --grid-light-grey:          rgb(236, 236, 236);
  --grid-background:     
  aligalign-items: ;flex-start *//* 
  aligalign-items: ;flex-start     rgb(248, 248, 248); 

  --button-bg: #dcdcdc;
  --button-selected: #8f8f8f;
  --button-text: var(--button-selected);
  --green-button: #029802;

  /* dimensions */
  --space-for-controls: calc(1 - (var(--board-dim) / 0.75));
  --number-selector-height:     calc(var(--board-dim) / 10);
  --button-height: calc(var(--space-for-controls) - var(--number-selector-height));


}


.board-container {
  width: 90%;
  height: 90%;
}

.controls-container {
  width: 95%;
  height: 100%;
  --controls-width:  calc(var(--board-dim) * 0.95);
  --controls-height: 38vh;
}

.board {
  width: 100%;
  height: 100%;
  gap: 3px;
  outline: 4px solid black;
  background-color: black;
}

.box {
  height: 100%;
  width: 100%;
  gap: 2px;
  background-color: var(--grid-light-grey);
}

.three-by-three {
  /* height: 100%;
  width: 100%; */
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  grid-template-rows: repeat(3, minmax(0, 1fr));
  justify-items: center;
  align-items: center;
}

.cell {
  background-color: var(--grid-background);
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 100%;
  position: relative;
}

.cell.user-submitted {
  color: var(--user-submitted-value);
}

.cell.pre-given {
  color: var(--pre-given-value);
}

.cell.position-highlighted {
  background-color: var(--position-select-colour)
}

.cell.value-highlighted {
  background-color: var(--value-select-colour);
}

.cell.selected {
  outline: 4px solid var(--grid-background);
  background: var(--grid-background);
  z-index: 1;
}


.cell .selection-square {
  position: absolute;
  width: 100%;
  height: 100%;
  outline: 3px solid;
  animation-name: selection-square-pulse;
  animation-duration: 0.75s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-direction: alternate-reverse;
  z-index: 2;
}

@keyframes selection-square-pulse {
  to {
    outline-color: var(--selection-pulse-dark);
  }
  from {
    outline-color: var(--selection-pulse-light);
  }
}

.candidates-view {
  width: 100%;
  height: 100%;
  font-size: 50%;
  color: black;
}


.controls {
  height: 100%;
  width: 100%;
  display: grid;
  --number-selector-height: calc(var(--controls-width) / 10);
  --button-height:          calc(var(--controls-width) / 4);
  grid-template-rows: var(--number-selector-height) var(--button-height);
  grid-template-columns: 100%;
  gap: calc(var(--board-dim) * 0.05);
  /* make sure that (--number-selector-height + --button-height + 5) < 38vh */
}

.controls button {
  /* width: 100%; */
  /* height: 100%; */
  min-width: 0; /* prevent side overflow */
  border: none;
  border-radius: 18%;
  fill: none;
  background-color: var(--button-bg) ;
  color: var(--button-text);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.controls button.selected {
  background-color: var(--button-selected);
  color: white;
}

.controls button.invalid {
  background-color: var(--grid-light-grey);
  color: var(--grid-background);
}

.number-selector {
  display: grid;
  grid-template-columns: repeat(9, auto);
  gap: 4px;
}

.number-selector button {
  height: 62%;
}

.buttons {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  gap: 2px;

}

.buttons button {
  width: 100%;
  height: 100%;
}

.buttons button > svg {
  height: 38%;
  width: 38%;
}